* {
  padding: 0;
  margin: 0;
}

#container {
  width: 100vw;
  height: 100vh;
}

#head {
  position: fixed;
  top: 17vmin;
  left: 19vmin;
  height: 53vmin;
  width: 60vmin;
  border-radius: 50%;
  background-color: #C39A6E;
  border: solid 1.3vmin black;
  z-index: 10;
}

#left-ear {
  position: fixed;
  top: 15vmin;
  left: 16.5vmin;
  height: 17vmin;
  width: 17vmin;
  border-radius: 50%;
  background-color: #C39A6E;
  border: solid 1.1vmin black;
  z-index: 5;
}

#left-ear-hole {
  position: fixed;
  top: 18.5vmin;
  left: 19.8vmin;
  height: 13vmin;
  width: 13vmin;
  border-radius: 50%;
  background-color: #643A10;
  z-index: 7;
}

#right-ear {
  position: fixed;
  top: 15vmin;
  left: 65vmin;
  height: 17vmin;
  width: 17vmin;
  border-radius: 50%;
  background-color: #C39A6E;
  border: solid 1.1vmin black;
  z-index: 5;
}

#right-ear-hole {
  position: fixed;
  top: 18.5vmin;
  left: 68.3vmin;
  height: 13vmin;
  width: 13vmin;
  border-radius: 50%;
  background-color: #643A10;
  z-index: 7;
}

#snout {
  position: fixed;
  top: 39vmin;
  left: 37vmin;
  height: 22vmin;
  width: 24vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 42%;
  border-bottom-left-radius: 42%;
  background-color: #82582E;
  border: solid 1.1vmin black;
  z-index: 11;
}

#nose {
  position: fixed;
  top: 43vmin;
  left: 42.5vmin;
  height: 9vmin;
  width: 15vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 45%;
  background-color: black;
  z-index: 12;
}

#left-eye-white {
  position: fixed;
  transform: rotate(37deg);
  top: 30.5vmin;
  left: 35vmin;
  height: 10vmin;
  width: 8vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: white;
  z-index: 12;
}

#left-eyeball-outer {
  position: fixed;
  top: 32.2vmin;
  left: 35.5vmin;
  height: 6.1vmin;
  width: 6.1vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #502D16;
  border: solid .5vmin black;
  z-index: 13;
}

#left-eyeball-inner {
  position: fixed;
  top: 33.2vmin;
  left: 36.5vmin;
  height: 5vmin;
  width: 5vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: black;
  z-index: 14;
}

#left-eyeball-reflection {
  position: fixed;
  top: 34.2vmin;
  left: 38.5vmin;
  height: 2vmin;
  width: 2vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: white;
  z-index: 14;
}

#right-eye-white {
  position: fixed;
  transform: rotate(-37deg);
  top: 30.5vmin;
  left: 57vmin;
  height: 10vmin;
  width: 8vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: white;
  z-index: 12;
}

#right-eyeball-outer {
  position: fixed;
  top: 32.2vmin;
  left: 57.5vmin;
  height: 6.1vmin;
  width: 6.1vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #502D16;
  border: solid .5vmin black;
  z-index: 13;
}

#right-eyeball-inner {
  position: fixed;
  top: 33.2vmin;
  left: 58.5vmin;
  height: 5vmin;
  width: 5vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: black;
  z-index: 14;
}

#right-eyeball-reflection {
  position: fixed;
  top: 34.2vmin;
  left: 59.3vmin;
  height: 2vmin;
  width: 2vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: white;
  z-index: 14;
}

#mouth-vertical {
  position: fixed;
  top: 51vmin;
  left: 49vmin;
  height: 4.5vmin;
  width: 1vmin;
  background-color: black;
  z-index: 14;
}

#mouth-horizontal-left {
  position: fixed;
  top: 54.5vmin;
  left: 42vmin;
  width: 6vmin;
  height: 3vmin;
  background-color: transparent;
  border-bottom-left-radius: 6vmin;
  border-bottom-right-radius: 6vmin;
  border: 1vmin solid black;
  border-top: 0;
  z-index: 15;
}

#mouth-horizontal-right {
  position: fixed;
  top: 54.5vmin;
  left: 49vmin;
  width: 6vmin;
  height: 3vmin;
  background-color: transparent;
  border-bottom-left-radius: 6vmin;
  border-bottom-right-radius: 6vmin;
  border: 1vmin solid black;
  border-top: 0;
  z-index: 15;
}
